body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

.header{
    border-bottom: 1px solid lightgray;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin-top: 10px;
    transform: translate(30%,5%);
}

.navflex{
    display: flex;
    gap: 0px;
}

.btn-login{
    background-color: rgba(34, 123, 197, 0.938);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.btn-signup{
    background-color: white;
    border: none;
    color: rgba(34, 123, 197, 0.938);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.info{
    display: flex;
    width: 900px;
    transform: translate(30%,5%);
    align-items: center;
    justify-content: center;
}

.img-div{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 200px;
}
.img-goog{
    width: 150px;
    height: 150px;
}
.info-flex{
    display: flex;
    width: 900px;
}

.name{
    display: flex;
    width: 150px;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.name-text{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.728);
}